@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap');
@import url('/node_modules/bootstrap/dist/css/bootstrap-grid.css');
@import url('bootstrap/dist/css/bootstrap.min.css');

/*sass --watch  src/App.scss src/App.css*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, menusup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$fontMontserrat: 'Montserrat', sans-serif;
$amareloMostarda: #FEDB25;

body{
    line-height: 1;
    background-color: $amareloMostarda;
    .content-home-top{
        padding: 0;
        .topo{
            display: none;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .menu{
                display: flex;
                justify-content: center;
                padding: 30px;
                width: 1366px;
                li{
                    a{
                        font-family: $fontMontserrat;
                        font-size: 18.504px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        color: #fff;
                        text-decoration: none;
                    }
                    float: left;
                    margin-right: 15px;
                    text-align: center;
                    :hover{
                        color: #DCA63D;
                    }
                }
            }
            .logo{
                float: left;
            }
        }
    }
    .content-home{
        border-top: 6px solid #000;
        margin-top: 50px;
        background-color: #fff;
        border-radius: 5px;
        .content-titulo{
            padding: 50px 70px;
            .user-avatar{
                border-radius: 100px;
                border: 5px solid #000;
                margin-left: 15px;
            }
            h1{
                font-family: $fontMontserrat;
                font-size: 60px;
                font-style: normal;
                font-weight: 700;
                line-height: 70px;
                @media screen and (max-width: 1024px){
                    font-size: 6vw;
                    line-height: 50px;
                }
            }
            p{
                color: #505050;
                font-family: $fontMontserrat;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 44.916px;
                letter-spacing: -0.124px;
                @media screen and (max-width: 1024px){
                    font-size: 4vw;
                    line-height: 30px;
                }
                span{
                    color: #979797;
                }
            }
            .languages{
                text-align: end;
                padding-right: 105px;
                padding-top: 20px;
                button{
                    border: 0;
                }
            }
        }
        .content-left{
            padding-left: 85px;
            margin-bottom: 50px;
            @media screen and (max-width: 500px){
                padding: 30px;
            }
            h2{
                color: #73808D;
                font-family: $fontMontserrat;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                text-transform: uppercase;
            }
            h3{
                color: #000;
                font-family: $fontMontserrat;
                font-size: 23px;
                font-weight: 800;
                line-height: 30px;
            }
            h4{
                color: #7a7878;
                font-family: $fontMontserrat;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
            }
            span{
                color: #363535;
                font-family: $fontMontserrat;
                font-size: 18px;
                font-weight: 700;
                line-height: 30px;
            }
            p{
                color: #363535;
                font-family: $fontMontserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 20px;
                padding-top: 5px;
                padding-right: 100px;
                @media screen and (max-width: 500px){
                    padding: 0px;
                }
            }
        }
        .content-right{
            padding-left: 0;
            p{
                color: #888585;
                font-family: $fontMontserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 22px;
                padding: 0px 30px 0px 0;
                font-style: italic;
            }
            .follow{
                width: 250px;
                h4{
                    color: #363535;
                    font-family: $fontMontserrat;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px; 
                }
                span{
                    color: #363535;
                    font-family: $fontMontserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 30px;
                }
                @media screen and (max-width:1024px){
                    width: 100%;
                }
            }
            @media screen and (max-width:1024px){
                padding: 100px;
            }
            @media screen and (max-width: 500px){
                padding: 30px;
            }
            .btn-contato{
                width: 200px;
                margin-top: 15px;
                color: #000;
                background-color: #fff;
                border: 2px solid #000;
                :hover{
                    background-color: #000;
                    color: #fff;
                }
            }
            .btn-contato:hover{
                background-color: #000;
                color: #fff;
            }
            strong{
                color: #363535;
                font-family: $fontMontserrat;
                font-size: 16px;
                font-weight: 800;
                line-height: 50px;
            }
        }
        .row{
            @media screen and (max-width:1024px){
                .col-sm-9,
                .col-sm-3{
                    width: 100%;
                }

                .nome{
                    order: 2;
                    text-align: center;
                }
                .foto{
                    order: 1;
                    text-align: center;
                }
                .curriculo{
                    order: 4;
                }
                .dados{
                    order: 3;
                }
            }
        }
        margin-bottom: 50px;
    }
    .offcanvas-title{
        color: #363535;
        font-family: $fontMontserrat;
        font-size: 18px;
        font-weight: 700;
        line-height: 23px;
    }
    .offcanvas-body{
        .menu{
            margin-top: 15px;
            li{
                float: left;
                font-size: 35px;
                margin-right: 15px;
                a{
                    color: #000;
                }
            }
        }
        p{
            color: #363535;
            font-family: $fontMontserrat;
            font-size: 16px;
            font-weight: 300;
            line-height: 23px;
        }
    }
}
