@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap');
@import url('/node_modules/bootstrap/dist/css/bootstrap-grid.css');
/*sass --watch  src/App.scss src/App.css*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

$fontMontserrat: 'Montserrat', sans-serif;

body{
    line-height: 1;
    background-color:#FEDB25;
//    .menu{
//         padding: 0;
//         height: 30px;
//     }
//     .menu{
//         li{
//             float:left;
//             margin-right: 15px;
//             font-family: 'Montserrat', sans-serif;
//             list-style: none;
//             a{
//                 color: #000;
//                 text-decoration: none;
//             }
//         }
//     }
//     .menu li a:hover{
//         color: #000;
//         text-decoration: underline;
//     }
//     .base-perfil{
//         background-color:#fff;
//         padding: 20px;
//         margin: 20px;
//         border-radius: 10px;
//         font-family: 'Montserrat', sans-serif;
//         margin: 20px 0px;
//         .perfil {
//             display: flex;
//             align-content: flex-end;
//             align-items: flex-start;
//             justify-content: flex-start;
//             h1{
//                 margin: 0;
//                 font-size: 18px;
//             }
//             p {
//                 margin: 0;
//                 font-size: 14px;
//                 line-height: 24px;
//             }
//         }
//     }
//     .d-flex {
//         display: flex;
//         align-content: flex-end;
//         align-items: center;
//         justify-content: space-between;
//     }
//     .btn-contato{
//         margin-top: 15px;
//         width: 100%;
//         padding: 10px;
//         background-color: #4861cf;
//         border: 2px solid #4861cf;
//         border-radius: 5px;
//         color: #fff;
//         font-size: 18px;
//         cursor: pointer;
//         transition: 1s;
//         text-align: center;
//     }
//     .btn-contato:hover{
//         background-color: #ffffff;
//         border: 2px solid #4861cf;
//         border-radius: 5px;
//         color: #4861cf;
//         font-size: 18px;
//     }
//     .user-avatar{
//         margin-right: 15px;
//         border-radius: 10px;
//     }
//     .list_skins{
//         list-style: none;
//     }
//     .follow{
//         display: grid;
//     }
//     .content-card{
//         background: #DBECFF;
//         -webkit-border-radius: 5px;
//         -moz-border-radius: 5px;
//         border-radius: 5px;
//         margin-bottom: 20px;
//         p{
//             line-height: 25px;
//         }
//     }
//     .btn-link-repos {
//         width: 94%;
//         padding: 10px;
//         background-color: #4861cf;
//         border: 2px solid #4861cf;
//         border-radius: 5px;
//         color: #fff;
//         font-size: 18px;
//         transition: 1s;
//         text-align: center;
//         display: block;
//         text-decoration: none;
//     }

    .content-home-top{
        padding: 0;
        .topo{
            display: none;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .menu{
                display: flex;
                justify-content: center;
                padding: 30px;
                width: 1366px;
                li{
                    a{
                        font-family: $fontMontserrat;
                        font-size: 18.504px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        color: #fff;
                        text-decoration: none;
                    }
                    float: left;
                    margin-right: 15px;
                    text-align: center;
                    :hover{
                        color: #DCA63D;
                    }
                }
            }
            .logo{
                float: left;
            }
        }
    }
    .content-home{
        border-top: 6px solid #000;
        margin-top: 50px;
        background-color: #fff;
        border-radius: 5px;
        .content-titulo{
            padding: 50px 90px;
            .user-avatar{
                border-radius: 100px;
                border: 5px solid #000;
            }
            h1{
                font-family: Arial;
                font-size: 60px;
                font-style: normal;
                font-weight: 700;
                line-height: 70px;
            }
            p{
                color: #505050;
                font-family: Arial;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 44.916px;
                letter-spacing: -0.124px;
                span{
                    color: #979797;
                }
            }
        }
        .content-left{
            padding-left: 100px;
            margin-bottom: 50px;
            h2{
                color: #73808D;
                font-family: Arial;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                text-transform: uppercase;
            }
            h3{
                color: #000;
                font-family: Arial;
                font-size: 23px;
                font-weight: 800;
                line-height: 30px;
            }
            h4{
                color: #7a7878;
                font-family: Arial;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;
            }
            span{
                color: #363535;
                font-family: Arial;
                font-size: 18px;
                font-weight: 700;
                line-height: 30px;
            }
            p{
                color: #363535;
                font-family: Arial;
                font-size: 18px;
                font-weight: 500;
                line-height: 20px;
                padding-top: 5px;
                padding-right: 100px;
            }
        }
        .content-right{
            padding-left: 0;
            p{
                color: #888585;
                font-family: Arial;
                font-size: 16px;
                font-weight: 500;
                line-height: 18px;
                padding-top: 5px;
                font-style: italic;
                padding-left: 30px;
            }
        }
    }
    @media screen and (max-width:500px){
        .d-flex {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }
        .list_skins{
            margin-top:40px;
        } 
    }
}
